<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="D:\nlog-internal.log">

  <extensions>
    <!-- load NLog.Extended to enable ASP.NET-specific functionality -->
    <add assembly="NLog.Extended" />
  </extensions>
  <!--Define Various Log Targets like files, database or asp.net trace files-->
  <targets>
    <target name="console" xsi:type="ColoredConsole" layout="${message}" />
    <!--Write logs to File  where we want to write error logs-->
    <target name="file" xsi:type="File" fileName="D:\ErrorLogFile.log" layout="${longdate}|${machinename}|${level}||Type:${exception:format=Type}||Message:${exception:format=Message}||Stack Trace:${exception:format=Stack Trace}||Info:${message}">
    </target>

  </targets>

  <rules>
    <logger name="*" minlevel="trace" writeTo="file" />

  </rules>
</nlog>
